apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    appservice: mariadb
  name: mariadb
spec:
  replicas: {{ .Values.mariaDb.replicas }}
  selector:
    matchLabels:
      appservice: mariadb
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        net/default: "true"
        appservice: mariadb
    spec:
      containers:
        - args:
            - --max-allowed-packet=128M
            - --innodb-log-file-size=64M
          env:
            - name: {{ .Values.mariaDb.env.autoUpgrade.name }}
              value: "1"
            - name: {{ .Values.mariaDb.env.mySql.db.name }}
              value: {{ .Values.mariaDb.env.mySql.db.value }}
            - name: {{ .Values.mariaDb.env.mySql.pass.name }}
              value: {{ .Values.mariaDb.env.mySql.pass.value }}
            - name: {{ .Values.mariaDb.env.mySql.rootPass.name }}
              value: {{ .Values.mariaDb.env.mySql.rootPass.value }}
            - name: {{ .Values.mariaDb.env.mySql.user.name }}
              value: {{ .Values.mariaDb.env.mySql.user.value }}
          image: {{ .Values.mariaDb.image.repository }}:{{ .Values.mariaDb.image.version }}
          livenessProbe:
            exec:
              command:
                - mysqladmin
                - ping
                - -u
                - root
                - --password=owncloud
            failureThreshold: {{ .Values.mariaDb.livenessProbe.failureThreshold }}
            periodSeconds: {{ .Values.mariaDb.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.mariaDb.livenessProbe.timeoutSeconds }}
          name: {{ .Values.mariaDb.name }}
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mysql
      restartPolicy: {{ .Values.mariaDb.restartPolicy }}
      volumes:
        - name: mysql
          persistentVolumeClaim:
            claimName: mysql
